body {
  background-color: azure;
  font-family: Aptos, sans-serif;
}
.navbar ul {
  list-style-type: none;
  background-color: #d4ddff;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  color: black;
  padding: 10px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: #bdcbff;
}

.navbar li {
  float: left;
  padding-left: 80px;
}

#box-model-word {
  max-width: 850px;
}

#box-model {
  margin: 50px;
  border: 30px solid rgb(25, 104, 133);
  padding: 20px 50px;
  font-size: 28px;
  max-width: 600px;
  text-align: center;
}

#horse-and-dog {
  width: 380px;
}

.code-screenshot {
  width: 450px;
}

/* Large Laptop widescreen displays */
@media only screen and (min-width: 1440px) {
  .navbar li {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* widescreen displays */
@media only screen and (min-width: 1024px) {
  .navbar li {
    padding-left: 80px;
    padding-right: 80px;
  }
}

/* tablets */
@media only screen and (max-width: 768px) {
  .navbar li {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* phones */
@media only screen and (max-width: 425px) {
  .navbar li {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
  }
}

/* small phones */
@media only screen and (max-width: 425px) {
  .navbar li {
    padding-left: 0px;
    font-size: 15px;
  }
}
