body {
  background-color: azure;
  font-family: Aptos, sans-serif;
}

.heading {
  position: relative;
  text-align: center;
}

.title {
  position: absolute;
  font-size: 30px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro {
  position: absolute;
  font-size: 20px;
  color: whitesmoke;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cover-photo {
  width: 1009px;
  height: 200px;
  align-items: center;
  object-fit: cover;
}

.navbar {
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  background-color: #d4ddff;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  color: black;
  padding: 10px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: #bdcbff;
}

.navbar li {
  float: left;
  padding-left: 80px;
}

.content {
  border: 4px solid black;
  margin: 10px;
}

h2 {
  text-align: center;
}

/* widescreen displays */
@media only screen and (min-width: 1024px) {
  #cover-photo {
    width: 1009px;
  }
  .navbar li {
    padding-left: 80px;
    padding-right: 80px;
  }
}

/* tablets */
@media only screen and (max-width: 768px) {
  #cover-photo {
    width: 750px;
    height: 200px;
  }
  .navbar li {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* phones */
@media only screen and (max-width: 425px) {
  #cover-photo {
    width: 400px;
    height: 100px;
  }
  .title {
    font-size: 20px;
  }
  .navbar li {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
  }
}

/* small phones */
@media only screen and (max-width: 425px) {
  #cover-photo {
    width: 400px;
    height: 100px;
  }
  .title {
    font-size: 20px;
  }
  .navbar li {
    padding-left: 0px;
    font-size: 15px;
  }
}
